/* ==UserStyle==
@name           VPlan
@namespace      github.com/openstyles/stylus
@version        0.0.1
@description    Style for VPlan
@author         Daniel Lehmann
==/UserStyle== */
@-moz-document url-prefix("https://gauss-gymnasium.de/plan/") {
    :root {
        --background: #090909;
        --background-dots: #1c1c1c
    }
    body {
        background-image: radial-gradient(var(--background-dots) 1px, var(--background) 0);
        background-size: 20px 20px;
    }
    #main,
    #wrapper {
        background: transparent
    }
    #wrapper {
        backdrop-filter: contrast(105%);
    }
}
